@import "../omarchy/current/theme/waybar.css";

* {
  background-color: transparent;
  color: rgb(17, 17, 27);

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'NotoSansM Nerd Font Mono';
  font-size: 16px;
}

.modules-left {
  margin: 0 0 0 20px;
}

.modules-center {
  /* padding: 0 8px; */
  /* border-radius: 16px; */
  /* background-color: rgb(243, 139, 168); */
  /* border-radius: 8px; */
  /* border-top-left-radius: 0px; */
  /* border-top-right-radius: 0px; */
}

.modules-right {
  margin: 0 20px 0 0;
}

#custom-omarchy {
  background-color: rgb(137, 180, 250);
  border-top-left-radius: 42px;
  border-bottom-left-radius: 42px;
  padding: 0 21px;
  font-size: 14px;
}

#custom-separator-hostname-right {
  color: rgb(137, 180, 250);
}

#custom-separator-workspaces-left,
#custom-separator-workspaces-right {
  color: rgb(243, 139, 168);
}

#workspaces {
  background-color: rgb(243, 139, 168);
  padding-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 8px;
  margin: 0 2.5px;
  min-width: 9px;
  opacity: 0.6;
}

#workspaces button.active {
  opacity: 1;
}

#workspaces button.empty {
  opacity: 0.3;
}

#cpu,
#battery,
#custom-update {
  min-width: 28px;
}

tooltip, tooltip *, * tooltip {
  padding: 2px;
  background-color: rgb(30, 30, 46);
  color: rgb(205, 214, 244);
}

#clock {
  background-color: rgb(166, 227, 161);
  padding: 0 16px 0 8px;
  border-radius: 80px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  font-size: 14px;
}

#pulseaudio {
  background-color: rgb(249, 226, 175);
  padding: 0 8px;
  border-radius: 0px;
  min-width: 55px;
}

#custom-weather {
  min-width: 35px;
  margin: 0;
  font-size: 28px;
  background-color: rgb(180, 190, 254);
}

#custom-weather.unavailable {
  min-width: 0;
  margin: 0;
  padding: 0;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator,
#custom-idle-indicator,
#custom-notification-silencing-indicator {
  min-width: 28px;
  font-size: 16px;
}

#custom-screenrecording-indicator.active {
  color: rgb(243, 139, 168);
}

#custom-idle-indicator.active,
#custom-notification-silencing-indicator.active {
  color: rgb(243, 139, 168);
}

#custom-voxtype.recording {
  color: rgb(243, 139, 168);
}

#custom-separator-one,
#custom-separator-two,
#custom-separator-three,
#custom-separator-four,
#custom-separator-five,
#custom-separator-six,
#custom-separator-seven,
#custom-separator-eight,
#custom-separator-nine,
#custom-separator-ten ,
#custom-separator-hostname-right,
#custom-separator-workspaces-left ,
#custom-separator-workspaces-right {
  font-size: 28px;
  margin: -1px;
  padding: 0;
}

#custom-separator-five {
  color: rgb(166, 227, 161);
  margin-right: 0;
}

#custom-separator-ten,
#custom-separator-four {
  color: rgb(249, 226, 175);
}

#custom-separator-nine,
#custom-separator-three {
  color: rgb(180, 190, 254);
}

#custom-separator-eight,
#custom-separator-six {
  color: rgb(137, 180, 250);
}

#custom-separator-six {
  font-size: 29px;
}

#cpu,
#network,
#bluetooth {
  background-color: rgb(137, 180, 250);
  margin: 0;
  min-width: 35px;
}

#custom-separator-seven,
#custom-separator-two {
  color: rgb(205, 214, 244);
}

#custom-separator-two {
  margin-top: -2px;
  margin-bottom: -2px;
}

#tray, .tray-group-item,
#custom-expand-icon,
#custom-update,
#custom-voxtype,
#custom-screenrecording-indicator,
#custom-idle-indicator,
#custom-notification-silencing-indicator {
  background-color: rgb(205, 214, 244);
  margin: 0;
  min-width: 35px;
}

#custom-separator-hostname-right,
#custom-separator-workspaces-left {

}

#custom-separator-workspaces-right {

}
